.header {
	@include headerGradient;
	height: 60px;
	display: flex;
	align-items: center;
	z-index: 5;

	.header__logo {
		position: absolute;
		background-image: url(../img/sprite_nav.png);
		background-position: -288px -390px;
		width: 87px;
		height: 38px;
		margin-left: 210 / 1366 * 100%;
	}

	.header__nav {
		display: flex;
		align-items: center;
	  margin-left: 320 / 1366 * 100%;
	}

	.header__nav__items {
		color: $text-color;
		padding: 12.5px 10px;
		margin-left: 2px;
		height: auto;
		border-right: 2px solid $dark__color;
	}

	.header__nav__items:hover {
		color: #fff;
		background: $dark__color;
		border-top: 2px solid $color-brand;
	}

	.header__banner {
		position: absolute;
		background-image: url(../img/sprite_nav.png);
		background-position: -394px -375px;
		width: 66px;
		height: 94px;
		margin-left: 1085 / 1366 * 100%;
	}

	.header__nav a {
      text-decoration: none;
      color: #7E8386;
    }

    .header__nav a:hover {
      color: #fff;
    }

    .active {
    	color: #fff;
		background: $dark__color;
		border-top: 2px solid $color-brand;
    }
}