.middle-module {
  position: relative;
  top: -70px;
}

.prices {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 25px;
  width: 90%;
  margin-left: 5%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .prices__msrp,
  .prices__leasing {
    line-height: 1.4;
    padding-top: 8px;
  }

  .prices__msrp>li:first-child,
  .prices__leasing>li:first-child {
    font-weight: bold;
  }

  .prices__msrp>li:nth-child(2), 
  .prices__leasing>li:nth-child(2) {
  }

  .prices__msrp>li:nth-child(3), 
  .prices__leasing>li:nth-child(3) {
    font-size: .7em;
  }

  .prices__leasing-detail {
    font-size: .2em;
    font-weight: bold;
  }

  .prices__promo-header {
    background-image: url(../img/promo-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 23%;
    height: 75px; 
    border-radius: 8px;
  }
}